body{
    background-color: $background-color;
}
.left-greeting{
    font: 400 2.8rem $title-font;
    color: $contrast;
}
.dark-bkg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
}
.dark-bkg--close{
    display: none;
}

.close-X{
    color: rgba(0, 0, 0, 0.6);
    font: 400 2rem $main-font;

    &:hover{
        cursor: pointer;
    }
}