///===========card on carrousel==========

.web-card--store{
    &:hover{
        cursor: default;
    }
    
    .desc-title_title{
        margin: 0;
    }

    .desc-title_desc{
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .buy-btn{
        font: 800 1rem $main-font;
        color: #242424;
        padding: .3rem 0;
        width: 4.5rem;
        text-align: center;
        border-radius: 6px;
        background-color: white;
        transition: background-color 300ms ease-in-out;
        margin: 1.5rem 1rem  0 0;
        display: inline-block;

        &:hover{
            background-color: #242424;
            color: white;
            cursor: pointer;
        }
    }
}

.try-btn{
        font: 800 1rem $main-font;
        color: white;
        padding: .3rem 0;
        width: 4.5rem;
        display: inline-block;
        text-align: center;
        border-radius: 6px;
        background-color: $accent-color;
        transition: background-color 300ms ease-in-out;
        margin-top: 1.5rem;
        text-decoration: none;

        &:hover{
            background-color: #242424;
            color: white;
            cursor: pointer;
        }
}
////=============== More info popup ======================///
.std-h2{
    font: 800 2rem $main-font;
    color: #242424;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}
.std-p{
    font: 400 1.2rem $main-font;
    color: #242424;
    width: 100%;
    text-align: center;
    margin:0 0 2rem;
}
.view-asset-store{
    padding: 3rem 1rem;
    overflow: scroll;
}

.store-steps-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;
    width: 100%;
    padding: 1.5rem 0;
    background-color: rgba($color: $widget-color, $alpha: .8);
    border-radius: 12px;
}

.store-steps{
    width: 80%;
    height: 10rem;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr 1fr;
    
    span{
        grid-column: 1/2;
        grid-row: 1/2;
        font: 800 3rem $main-font;
        color: $accent-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    p{
        grid-column: 2/3; 
        grid-row: 1/2;
        font: 400 .8rem $main-font;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $accent-color;
    }
    img{
        grid-column: 1/3 ;
        grid-row: 2/3;
        width: 5rem;
        display: block;
        margin: auto;
    }

}

.std-p--buy{
    padding: .5rem 1rem;
    background-color: $secondary-color;
    color: white;
    border-radius: 12px;
    margin: 2rem 0;
}
.confirm-order-btn{
    background-color: $accent-color;
}

.buy-from{
    overflow-y: scroll;

    input{
        margin: .5rem auto;
    }

}

.view-asset-questions{
    height: 40rem;
    margin-top: calc((100vh - 40rem) / 2) ;
}
.questions-from{
    height: 35rem;
    position: relative;
    margin: 1rem auto;
    background-color: rgba($color: #000000, $alpha: 0);
}