body{
    background-color: $background-color;
}
.left-greeting{
    font: 400 2.8rem $title-font;
    color: $contrast;
}
.dark-bkg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
}
.dark-bkg--close{
    display: none;
}

.close-X{
    color: rgba(0, 0, 0, 0.6);
    font: 400 2rem $main-font;

    &:hover{
        cursor: pointer;
    }
}
.std-p--important {
    color: $contact-button;
    font: 400 1.2rem $main-font;
    border-radius: 10px;
    font-style: italic;
    margin: 0 auto 2rem;
}

.website-info-page{
    width: 90%;
    margin: auto;
}

.std-p--price{
    color: green;
    font: 800 1.5rem $main-font;
    font-style: italic;
    margin: 0 auto 2rem;
}