.checkout-button-wrapper_img{
    width: 100%;
    height: 20rem;
    background-image: url('../../images/hour-glass.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    margin: 2rem auto;
}
.checkout-button-wrapper{
    width: 90%;
    max-width: 500px;
    margin: 5rem auto;
}