// Colors
$background-color: #352f44;
$accent-color: #411e8f;
$secondary-color: #927fbf;
$widget-color: #dbd8e3;
$contrast: #ffffff;
$contact-button: #ff034d;
$font-color: #242424;

// Fonts
@import url('https://use.typekit.net/gqv5okx.css');
@import url('https://use.typekit.net/gqv5okx.css');
@import url('https://use.typekit.net/gqv5okx.css');
$title-font: gala-triline, sans-serif;
$main-font: roboto, sans-serif;
$accent-font: abril-display, serif;
